#news-list ul li{
    margin-left: 16px;
    padding-left: 10px;
    list-style: none;
}

#news-list ul li:hover{
    background: url('../images/red-bullet.png') no-repeat left;
}


#news-list a{
    display: block;
    /*min-height: 30px;*/
    padding:5px;
    background-color: #000;
    text-decoration: none;
    color:#fff;
    font-size: 11px;
    font-family: Arial;
}

#news-list a:hover{
    color:#CCC;
}

.news-content{
    height: 90%;
    word-wrap:break-word;
    display: block;
    line-height: 1.5em;
    text-align: left;
    padding: 5px 15px;
    font-family: Arial;
    font-size: 11px;
    overflow-y:auto;
    max-width: 420px;
}
#news-top-content{
    height: 460px;
    width: 420px;
    overflow: hidden;
}
